*{
    margin: 0%;
    padding: 0%;
}
body{
    overflow-x: hidden;

}
.container{
    background: url(images/Banner.png);
    color: white;
    padding: 3rem 4rem;
    padding-bottom: 0;
    background-size: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}
nav span{
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
#menu{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
nav p{
    color: #ffa500;
    text-decoration: underline #ffa500;
}
a{
    color: #ffa500;
}
/* section */
section{
    display: flex;
}
.section-text h2{
    font-size: 30px;
    margin-top: 1rem;
}
.section-text p{
    width: 78%;
    margin: 2rem 0;
}
.lorem-text{
    margin: 3rem 1rem;
    display: flex;
    gap: 4rem;    
}
.lorem-text ul{
    list-style:url(images/tick.svg) ;
}
.section-text button{
    background: #ffa500;
    color: #ffffff;
    padding: 1rem 5rem;
   border-radius: 24px;
   margin-top: 3rem;
}
/* main */
.main{
    background:url(images/blur.svg);
    display: flex;
    align-items: center;
    background-size: 100%;
    padding: 1rem 0;
    justify-content: space-between;
}
.main-text{
    width: 40%;
}
.main-text h5{
    color: #ffa500;
    font-size: 14px;
    font-weight: bold;
}
.main-text h1{
    margin:1rem 0;
}
.main-text p{
    font-size: 16px;
    line-height: 26px;
    width: 80%;
}
.main-lorem{
    margin:1rem 2rem;
    display: flex;
    gap: 5rem;    
}
.main-lorem ul{
    list-style:url(images/tick.svg);
    font-size: 18px;
}
.main-text button{
    background: #ffa500;
    color: #ffffff;
    margin-left: 3%;
    line-height: 35px; 
    width: 120px;
    border-radius: 4px;
    border: none;
}
.purchase{
    margin: 3rem 0rem;
    align-items: center;

}
.purchase h5{
    text-align: center;
    margin-bottom:2rem;
}
.purchase h2{
    text-align: center;
}
.subcribe{
    margin-top: 3rem;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.subcribe img{
    width: 90%;
}
.first-subcription{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fcfaed;
    border: none;
    border-radius:20px;
    width: 20%;
    padding: 0 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.first-subcription h1{
    color: #073289;
     font-family: 'Inter', sans-serif;
    padding-top: 3rem;
    text-align: center;
    font-size: 26px;
    margin-bottom: 1rem;
}
.first-subcription h3{
    color: black;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}
.first-subcription h4{
    color:#9d9d9d;
    font-size: 16px;
    text-align: center;
    margin-bottom: 3rem;
}
.first-subcription li{
    list-style: url(images/tick.svg);
    font-size: 12px;
    font-weight: 300;
    color: #9d9d9d;
    margin-bottom: 1rem;
    align-items: center;
}
.first-subcription button{
    margin-top: 5.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ffa500;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    width: 60%;
    color: #ffa500;
    background: inherit;
}
.second-subcription{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    background: #073289;
    border:none;
    border-radius: 20px;
    width: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.second-subcription p{
    color: #ffffff;
    text-align: center;
    margin-top: 1rem;
}
.second-subcription h1{
    color: #ffa500;
    padding-top: 1rem;
    text-align: center;
    font-size: 26px;
    margin-bottom: 1rem;
}
.second-subcription h3{
    color:#ffa500;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-bottom: 1rem;
}
.second-subcription h4{
    color:#ffffff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 2rem;
}
.second-subcription li{
    list-style: url(images/tick.svg);
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom:1rem;
}
.second-subcription button{
    margin-top: 1rem;
    background: #ffa500;
    border: 1px solid #ffa500;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    color: #ffffff;
    margin-bottom: 1rem;
}

.third-subcription{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fcfaed;
    border: none;
    border-radius:20px;
    width: 20%;
    padding: 0 2rem;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.third-subcription P{
    color: #ffa500;
    text-align: center;
    margin-top: 0.9rem;
}
.third-subcription h1{
    color: #073289;
    padding-top: 7%;
    text-align: center;
    font-size: 26px;
    margin-bottom: 5%;
}
.third-subcription h3{
    color: black;
    margin-bottom:1rem;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-top: 1rem;
}
.third-subcription h4{
    color:#9d9d9d;
    font-size: 14px;
    text-align: center;
    margin-bottom: 1rem;
}
.third-subcription li{
    list-style: url(images/tick.svg);
    font-size: 12px;
    font-weight: 300;
    color: #9d9d9d;
}
.third-subcription button{
    margin-top: 2rem;
    margin-bottom: 0.7rem;
    border: 1px solid #ffa500;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    color: #ffa500;
    background: #fcfaed;
}

/* sales announcement */
.sale-announcement{
    padding: 2rem 3rem;
    display: flex;
    background: url(images/blur.svg);
}
.sale-announcement img{
    width: 50%;
}
.sale-announcement p{
    color: #ffa500;
    margin-bottom:2%;
}
.sale-announcement h1{
    font-size: 20px;
    margin-bottom: 3%;
    font-size: 30px;
    width: 80%;
}
.sale-announcement h5{
    color: #9d9d9d;
    width: 80%;
    font-size: 16px;
    font-weight: normal;
}
.price{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    gap: 30px;
}
.current-price{
    font-size: 30px;
}
.previous-price s{
    font-size: 18px;
    color: #adabab;
}
.sales-text{
    align-items: center;
}
.sales-text ul{
    list-style: url(images/deco.svg);
}
.price img{
    width: 10%;
}
.sale-announcement li{
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 1%;
    padding-left: 1%;  
}
.sale-announcement button{
    background: #ffa500;
    color: #ffffff;
   line-height: 35px; 
   width: 150px;
   border-radius: 8px;
   margin-bottom:1%;
   border:none
}
.about-product{
    text-align: center;
    margin: 4rem 0;
}
 .about-product h5{
    color: #ffa500;
    margin-bottom: 2%;
}
.about-product h3{
    margin-bottom: 2%;
    font-size: 30px;
}
.about-product p{
    margin-bottom: 2%;
    color: #979797;
}
.product-quality{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
    gap: 3rem;
}

.organic h2{
    text-align: center;
    margin-bottom: 3%;
    color: #616161;
}
.organic p{
    width: 300px;
}

.high h2{
    text-align: center;
    margin-bottom: 3%;
    color: #616161;
}
.high p{
    width: 300px;
}

.best h2{
    text-align: center;
    margin-bottom: 3%;
    color: #616161;
}
.best p{
    width: 300px;
}
.portfolio{
    text-align: center;
    padding:6rem 0;
    margin-top: 4rem;
    background: #fafbfd;
}
.portfolio h3{
    margin-bottom: 1.5rem;
    color: #ffa500;
}
.portfolio h2{
    font-size: 30px;
}

.portfolio-text{
    display: flex; 
    margin: 3rem 0;
    justify-content: center;
    text-align: center;
}
.portfolio-text h5{
    color: #ffa500;
    border-bottom: 1px solid #ffa500;
    width: 20%;
}
.portfolio-text h5:last-of-type{
    color: #c6c6c6;
    border-bottom:1px solid #c6c6c6;
    width: 20%;
}
.portfolio-text a{
    color: #ffa500;
    margin-left: 7rem;
}
.box{
    margin: 3rem 2rem;
    display: grid;
    grid-template-columns:auto auto auto;
}
.box p {
    height:350px;
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 2rem;
    line-height:350px;
    border: 1px solid none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.box p a{
    color: #000000;
    font-size: 18px;
}
.faq{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.faq h5 {
    color: #ffa500;
    margin-bottom: 2rem;
}
.faq h3{
    color: #000000;
    margin-bottom: 2rem;
    font-size: 30px;
}
.faq h4{
    color: #979797;
    width: 55%;
}
.question{
    display: flex;
    justify-content: center;
}
.question h4{
   color: #000000;
   margin-bottom: 4%; 
}
.question p{
    width: 420px;
    color: #646464;
    margin-bottom: 4%;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:5rem;
    background: #fafbfd;
}
.news h5{
    color: #ffa500;
}
.news h3{
    margin-top: 3%;
    font-size: 30px;
}
.news p{
    width: 450px;
    color: #646464;
    margin-top: 3%;
}
.news-input{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    border: 1px solid #cecece;
    height: 35px;
    width: 480px;
    padding-left: 1rem;
    margin-bottom:3%;
    margin-top: 3%;
    outline: none;
    border-radius: 5px;
}
.news button{
    margin-left: -1rem;
    height: 35px;
    width: 150px;
    background: #ffa500;
    border: none;
    border-radius: 5px;
}
footer{
    background:url(images/Banner.png);
    padding: 4rem;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer-text{
    width: 40%;
}
.footer-text p{
    text-align:start;
}
span{
    color: #ffa500;
}
i{
    border: 1px solid ;
    font-size: 24px;
    padding:20px;
    border-radius: 50px;
}
#fa{
    background:#ffa500 ;
    font-size: 24px;
    border: none;
}
.footer-list{
    color: #ffffff;
    margin-top: 4%;
    display: flex;
    gap: 2rem;
}
.footer-list ul{
    list-style: none;
}
.footer-list-header{
    color: #ffa500;
}
.footer-list-header a{
    text-decoration: underline;
}
footer p{
    margin-top: 5%;
    padding-bottom: 3%;
    text-align: center;
    color: #ffffff;
}

@media only screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    nav ul{
        display: flex;
        position: absolute;
        flex-direction: column;
        right: -100%; 
        background: #191919;
        padding: 2rem 1rem;
        transition: all .30s ease;
    }
    #menu{
        display: flex;
    }
    .open{
        right:2%;
    }
    section{
        flex-direction: column-reverse;
    }
    .section-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
    .main{
        flex-direction: column;
    }
    .main-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }
    .subcribe{
        flex-direction: column;
    }
    .first-subcription{
        width: 30%;
    }
    .second-subcription{
        width: 30%;
    }
    .third-subcription{
        width: 30%;
    }
    .sale-announcement{
        flex-direction: column-reverse;
        align-items: center;
    }
    .sales-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-quality{
        flex-direction: column;
    }
    .box{
        grid-template-columns: auto;
        align-items: center;
    }
    .box p{
        align-items: center;
        width: 70%;
    }
    .question{
        flex-direction: column;
        align-items: center;
    }
    .news-input{
        flex-direction: column;
    }
    input{
        width: 380px;
    }
    .footer{
        flex-direction: column;
    }
    .footer-list{
        flex-direction: column;
    }
}
@media only screen and (min-width:769px) and (max-width:991px) {
    body{
        overflow-x: hidden;
    }
    nav ul{
        position: absolute;
        flex-direction: column;
        transition: all .30s ease;
        right: -100%;
        background: #191919;
        padding: 2rem;
    }
    #menu{
        display: flex;
    }
    .open{ 
        right: 20%;
    }
    section{
        flex-direction: column-reverse;
    }
    .section-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
    .main{
        flex-direction: column;
    }
    .main-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
    }
    .subcribe{
        flex-direction: column;
    }
    .first-subcription{
        width: 30%;
    }
    .second-subcription{
        width: 30%;
    }
    .third-subcription{
        width: 30%;
    }
    .sale-announcement{
        flex-direction: column-reverse;
        align-items: center;
    }
    .sales-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-quality{
        flex-direction: column;
    }
    .box{
        grid-template-columns: auto auto;
        align-items: center;
    }
    .box p{
        align-items: center;
        width: 70%;
    }
    .question{
        flex-direction: column;
        align-items: center;
    }
    .news-input{
        flex-direction: column;
    }
    input{
        width: 380px;
    }
    .footer{
        flex-direction: column;
    }
    .footer-list{
        flex-direction: column;
    }
}